* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .inner h1 a {
    color: #fff; 
    font-weight: 800;
    font-size: 24px;
    
    text-shadow: 0 0 5px rgba(0,0,0,0.5); 
    
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

header .inner h1 a:hover {
    color: aqua; 
    
    text-shadow: 
        0 0 10px #00ffdd, 
        0 0 25px #00ffb799,
        0 2px 5px rgba(0,0,0,0.5);
}

.nav-list a {
    position: relative;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    padding: 5px 0;
    transition: color 0.3s ease-in-out;
}

.nav-list a::after {
    content: '';
    position: absolute;
    bottom: 0; 
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #f5e976;
    transition: width 0.3s ease-in-out;
}

.nav-list a:hover {
    color: #f5e976;
}

.nav-list a:hover::after {
    width: 100%;
}
