.contact-title {
  text-align: center;
  padding: 60px 20px;
}

.contact-info {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 60px;
}

.info-box {
  text-align: center;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto 80px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form .txtarea {
  display: flex;
  align-items: end;
  gap: 17px;
}

.contact-form input {
  padding: 12px;
  border: 1px solid #ccc;
}

.contact-form textarea {
  width: 300px;
  height: 150px;
  margin-top: 10px;
  padding: 12px;
  border: 1px solid #ccc;
}

.contact-form button {
  padding: 10px 12px;
  background: rgb(16, 85, 128);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.contact-img {
  background: url(../img/contact.jpg) no-repeat center/cover;
  width: 100%;
  height: 400px;
}
