*{margin: 0;padding:0;box-sizing: border-box;}

header {
    width: 100%;
    transition: all .3s;
}

.inner {
    display: flex;
    width: 100%;;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
}


.nav-list {
 display: flex;
 gap: 42px;
}
.nav-list a {
 display: block;
 color: #fff;
 font-weight: 600;
 text-transform: uppercase;
 font-size: 18px;
}

.mob-nav-btn{
    display: none;
}

a{
    text-decoration: none;
    color:#373737
}

li {
    list-style: none;
}

header { 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    margin: auto;
    max-width: 1200px;
    padding: 100px 0;
    background-color: aliceblue;
    min-height: 100vh;
}